<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-11 offset-lg-1">
        <ul>
            <li>
                <h2>Trabajo 1</h2> - <h3>(años)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quam ducimus quasi dicta aliquid illo voluptas doloribus vero consequuntur quibusdam aliquam, eaque soluta perferendis omnis illum ex accusantium nihil delectus.</p>
            </li>
        </ul>
        <ul>
            <li>
                <h2>Trabajo 2</h2> - <h3>(años)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quam ducimus quasi dicta aliquid illo voluptas doloribus vero consequuntur quibusdam aliquam, eaque soluta perferendis omnis illum ex accusantium nihil delectus.</p>
            </li>
        </ul>
        <ul>
            <li>
                <h2>Trabajo 3</h2> - <h3>(años)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quam ducimus quasi dicta aliquid illo voluptas doloribus vero consequuntur quibusdam aliquam, eaque soluta perferendis omnis illum ex accusantium nihil delectus.</p>
            </li>
        </ul>

    </div>
</div>