<div class="container">
    <div class="row">
        <div class="col">
            <h1>Agregar Experiencia Laboral</h1>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreE" class="mb-2">Nombre de la Empresa</label>
                    <input type="text" class="form-control mb-4" id="nombreE" name="nombreE" [(ngModel)]="nombreE" required>
                </div>
                <div class="form-group">
                    <label for="descripcionE" class="mb-2">Descripción de la tarea </label>
                    <input type="text" class="form-control mb-4" id="descripcionE" name="descripcionE" [(ngModel)]="descripcionE" required>
                </div>
                <div class="form-group">
                    <label for="fechaE" class="mb-2">Fecha</label>
                    <input type="text" class="form-control mb-4" id="fechaE" name="fechaE" [(ngModel)]="fechaE" required>
                </div>
                <button class="btn btn-primary mb-2">Agregar experiencia</button>
            </form>
            <a href="https://pmrportfoliofront.web.app/" class="btn btn-secondary">Cancelar</a>
        </div>

    </div>
</div>
