.container-fluid{
    border-top: solid #2F8F9D 10px;
    padding-top: 1rem;
    background-color: #FEFAE0;
}

.row {
    padding: 20px;
    position: relative;
}

h1, h2, h4, h5, p{
    font-family: 'Albert Sans', sans-serif;
}

h1{
    color: #3d3d3d
}

h2{
    letter-spacing: 0.2rem;
    color: #919191;
    position: relative;
}

h2:before{
    content: '';
    position: absolute;
    border-top: solid #3BACB6 2px;
    height: 1em;
    top: 50%;
    left: -15rem;
    width: 66%;
}

h6, h3{
    font-family: 'Source Code Pro', monospace;
}


h6{
    color: white;
    background-color: #3BACB6;
    padding: 3px 10px;   
}

.edit-button, .delete-button{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    box-shadow: 1px 1px 10px rgb(190, 190, 190);
}

.add-button{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    box-shadow: 1px 1px 10px rgba(238, 208, 208, 0.11);
    position: absolute;
    top: 2rem;
    right: 3rem;
    padding: 5px;
    align-items: center;

}

.add-button i{
    font-size: 25px;
    text-align: center;
    line-height: 32px;
    margin: auto;
}

.row-edu{
    border-bottom: solid #3BACB6 2px;   
}

/* .table > :not(caption) > * > * {
    padding: 2rem 0.5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.nombre-e{
    width:30%;    
}

.descripcion-e{
    width: 50%;
}

.buttons-e{
    width: 20%;
}     */

@media(max-width: 1200px){
    h3{       
        font-size: 1.5rem;
    }
}

@media(max-width: 538px){
    .add-button{       
        top: 7rem;
        left: 50%;
        right: 50%;
    }

    .section-edu{
        margin-top: 3rem;
    }
}