<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 offset-lg-1 align-items-center text-center text-md-start">
            <img src="https://i.postimg.cc/hPpt9s0D/diploma.gif" alt="experiencia laboral" height="auto" width="80" class="text-center text-md-start" style="max-width: 80px;"/>
            <h2 class="fw-bold text-uppercase my-4 text-center text-md-start d-inline-block">                
                Educación
            </h2>
        </div>

        <div class="col-12 text-end">
            <button type="button" class="btn btn-dark add-button" routerLink="/nuevaedu" *ngIf="isLogged"><i
                    class="bi bi-plus-lg"></i></button>
        </div>

        <div class="col-lg-10 offset-lg-1 section-edu">
            <div class="container">

                    <div class="row row-edu" *ngFor="let Educacion of edu">
                        <div class="col-md-3 col-sm-12 nombre-e" >
                            <h3>{{Educacion.nombreEdu}}</h3>                            
                        </div>
                        <div class="col-md-7 col-sm-10 descripcion-e" >
                            <h6 class="d-inline-block">{{Educacion.fechaEdu}}</h6>
                            <p>{{Educacion.descripcionEdu}}</p>
                        </div>

                        <div class="col-md-2 col-sm-2 text-end buttons-e" *ngIf="isLogged">
                            <button class="btn btn-light edit-button m-1" routerLink="/editedu/{{Educacion.id}}">
                                <i class="bi bi-pencil-fill"></i> </button>
                            <button class="btn btn-danger delete-button m-1" (click)="delete(Educacion.id)">
                                <i class="bi bi-trash-fill"></i></button>
                        </div>


                    </div>

            </div>
        </div>
    </div>
</div>