
<!-- Modal imagen portada -->
<!-- <div class="modal fade" id="modal-imagen-portada" tabindex="-1" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Actualizar imagen de portada</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="input-group mb-3">                
                <input type="text" class="form-control" placeholder="{{persona.imgPortada}}" [(ngModel)]="persona.imgPortada" required>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div> -->

<!-- Main -->
<div class="row"  *ngFor="let persona of pers">
    <div>
        <img src={{persona.imgPortada}} alt="" class="img-portada" >
        <!-- <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#modal-imagen-portada">
            <i class="bi bi-pencil-fill"></i> 
        </button> -->
        
    </div>
    

    <div class="col-12 col-sm-2">
        <img src={{persona.img}} class="img-fluid" id="fotodeperfil">
        <!-- <button type="button" class="btn btn-dark">
            <i class="bi bi-pencil-fill"></i> 
        </button> -->
    </div>
   

    <div class="col-12 col-sm-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>{{persona.titulo}}</p>
        <button type="button" class="btn btn-dark" routerLink="/editpers/{{persona.id}}">
            <i class="bi bi-pencil-fill"></i> 
        </button>
    </div>
    

    <div class="col-12 col-sm-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>{{persona.descripcion}}</p>            
        </span>
        <!-- <button type="button" class="btn btn-dark" >
            <i class="bi bi-pencil-fill"></i> 
        </button> -->
    </div>

</div>