<!-- no sirve, de Andrés. Lo reemplace por el de Mati -->



<!-- <div class="experience">
    <h2 class="experience-title">Experiencia</h2>
    <ul>
        <div class="row col-lg-11 offset-lg-1" *ngFor="let experience of experiences">


            <li>
                <img class="experiencia-logo" src={{experience.imagenExp}} alt="">
                <h2>{{experience.descripcionExp}}</h2>
                <p>{{experience.tituloExp}}</p>
                <p>{{experience.fechaExp}}</p>
                <hr>
            </li>


        </div>
    </ul>
</div> -->
